[data-type=content1] {
    position: absolute;
    bottom: -6em;
    text-align: center;
}


.padding-custom {
    margin: 0 20%;
    
}

.about {
    transform: translateY(2em);
}

#sub-about {
    max-width: 35em;
    line-height: 1.5;
    transform: translateY(.5em);
}

#title-about {
    font-size: 1.25rem !important;
}

[data-scale=title] {
    font-size: 3rem !important;
    margin-bottom: 20em !important;
    padding-bottom: 20em !important;
}

#about-card {
    position: relative;
    text-align: center;
    max-width: 80em;
    width: 60vw;
    min-width: 25em;
    max-height: 20em;
    min-height: 10em;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease-out;
    background-color: #383a3e;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(90, 90, 90);
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
}

#about-card:hover {
    box-shadow: 0 0 10px 8px rgba(0,0,0,0.4);
}

@media (min-width: 1200px) {
    #about-card {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        left: 5%;
        transform: translateX(-5%);
        margin: 1em;
    }   
}

.about-title, .about-time, .about-desc, .about-btn {
    margin: 0.5em 1em;
}

.about-title {
    font-size: 2rem;
}

.rotation {
    animation: rotate 600ms ease;
}

.rotation-flipped {
    animation: rotate-backwards 600ms ease;
}

.rotation,
.rotation-flipped {
    transition: transform 800ms ease;
    transform: perspective(1000px) rotateY(0deg) scale(1);
}

.rotation:hover ,
.rotation:focus {
    transform: perspective(1000px) rotateY(2deg) rotateX(10deg) scale(1.01);
}

.rotation-flipped:hover ,
.rotation-flipped:focus {
    transform: perspective(1000px) rotateY(-2deg) rotateX(-10deg) scale(1.01);
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateX(45deg) rotateY(-5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}
@keyframes rotate-backwards {
    0% {
        transform: perspective(1000px) rotateX(-45deg) rotateY(5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}

.about-card {
    transform: translateY(3em);
}

.about-btn span {
    text-emphasis-color: white !important;
    color: white !important;
    padding: 0 1em;
}
