[data-type="content1"] {
  position: absolute;
  bottom: -6em;
  text-align: center;
}

.padding-custom {
  margin: 0 20%;
}

.about {
  transform: translateY(0.5em);
  transition: all 600ms ease;
  transform-style: preserve-3d;
}


.about:hover {
  transform-style: preserve-3d;
  transform: perspective(1000px) translateY(0.5em) scale(1.025);
}

.about > .three {
  transform-style: preserve-3d;
  transform: perspective(1000px) scale(0.75) translateZ(3rem);
}

#sub-about {
  max-width: 35em;
  line-height: 1.5;
  transform: translateY(0.5em);
}

#title-about {
  font-size: 1.25rem !important;
}

[data-scale="title"] {
  font-size: calc(2rem + 1vw) !important;
}

