:root {
    --scale: 1;
    --ypos: 0px;
    --opacity: 0.2;
    --projScale: 1;
    --rotatexdeg: 0
    --rotateydeg: 0
}

[data-type=content1] {
    position: absolute;
    bottom: -6em;
    text-align: center;
}


#title {
    font-size: 20px;
}

.padding-custom {
    margin: 0 10%;
}

#gluta1:hover,
#gluta1:focus {
    --scale: 1.05;
    --rotatexdeg: 5deg;
    --rotateydeg: 5deg
}

#gluta2:hover,
#gluta2:focus {
    --scale: 1.05;
    --rotatexdeg: -5deg;
    --rotateydeg: -5deg
}

#gluta1, #gluta2 {
    width: 20em;
    height: 26em;
    display: inline;
    justify-content: center;
    align-items: center;
    margin: 1em -2rem -1em -2rem;
    transform: perspective(1000px) scale(var(--scale)) rotateX(var(--rotatexdeg)) rotateY(var(--rotateydeg));
    transition: transform 800ms ease;
    cursor: pointer;
}

#gluta1 {
    animation: rotate 600ms ease;
}

#gluta2 {
    animation: rotate-backwards 600ms ease;
}

#content-project {
    padding-bottom: 10em;
    margin-bottom: 10em;
}

.margin-custom {
    margin: 0.5em 0 0 0;
}

#projTab {
    width: 80%;
    align-items: center;
    justify-content: center;
    left: 10%;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(90, 90, 90);
    margin-top: 1em;
    transform: perspective(800px) scale(var(--projScale)) translateY(var(--ypos)) rotateX(var(--rotatexdeg)) rotateY(var(--rotateydeg)) ;
    box-shadow: 0 0 5px 2px rgba(0,0,0,var(--opacity));
    animation: opacityDown 400ms ease;
    transition: 600ms ease;
    
}

#projTab:hover,
#projTab:focus {
    --opacity: 0.5;
    --projScale: 1.05;
    --rotatexdeg: 15deg;
    --rotateydeg: -5deg;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,var(--opacity));
}

#gluta1.flipped,
#gluta2.flipped {
    transform: perspective(1000px) rotateY(180deg) scale(1);
}

#gluta1.flipped:hover ,
#gluta1.flipped:focus {
    transform: perspective(1000px) rotateY(185deg) rotateX(15deg) scale(1.05);
}

#gluta2.flipped:hover ,
#gluta2.flipped:focus {
    transform: perspective(1000px) rotateY(175deg) rotateX(-15deg) scale(1.05);
}


#gluta-sub {
    padding: 0 1em;
    max-width: 30em;
}

.text-rot {
    animation: rotate 600ms ease;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateX(60deg) rotateY(-5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate-flipped {
    0% {
        transform: perspective(1000px) rotateX(240deg) rotateY(-5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(180deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes opacityDown {
    0% {
        opacity: 0;
        transform: scale(1.25) translateY(var(--ypos));
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(var(--ypos));
    }
}

@keyframes rotate-backwards {
    0% {
        transform: perspective(1000px) rotateX(-60deg) rotateY(5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate-flipped-backwards {
    0% {
        transform: perspective(1000px) rotateX(120deg) rotateY(-5deg) scale(1.1);
        opacity: 0;
    }
    100% {
        transform: perspective(1000px) rotateX(180deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}